.git
.gitignore
.dockerignore

__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
pip-wheel-metadata/

tests/

*.log
.env
.env.*

.idea/
.vscode/
.DS_Store
Thumbs.db
